* {
box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
font-size: 1rem;
font-weight: 400;
letter-spacing: 0.01em;
line-height: 1.6;
color: black
}

img {
    width: 100%;
    display: block;
}

    header {
        background-color: aquamarine;
    }

    .container {
        width: 90%;
        max-width: 1024px;
        margin: 0 auto;
    }

.header-container {
    padding: 1.5rem 0;
    text-align: center;
}

    h1 {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 1rem;
    }

    li {
        list-style: none;
        color: rebeccapurple;
        display: inline-block;
        margin: 0 0.5rem;
        transition: 0.5s;
    }

    a {
        text-decoration: none;
        color: inherit
    }

.main-container{
    padding-top: 1rem;  
}

.hero-img{
    max-height: 300px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 2rem;
}

.hero-text{
    max-width: 80ch;
    margin: 0 auto 2rem auto;
}

.cookie-section {
    display: flex;
    flex-direction: column;
}

li:hover{
    color: white;
}

.main-container{
    padding-top: 2rem;  
}

.img-text{
    text-align: center;
}

img.container{
    width: 30%;
    margin: 1rem;
}

/* This is the media query that changes styles when the viewport is 700px or more; can be applied in the initial 'header.container' with display: flex; / flex-direction: column; */

@media(min-width: 700px){
    .header-container {
    text-align: left;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    }
}

.cookie-section {
    flex-direction: row;
    justify-content: space-between;
}

